<!DOCTYPE>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/assets/stylesheets/normalize.css">
    <link rel="stylesheet" href="/assets/stylesheets/style.css">
  </head>
  <body>
    <div class="container">
    <header class="header clearfix">
      <nav>
        <ul class="top_menu clearfix">
         <li><a href="/">HOME</a></li>
         <li><a href="/diaries">ツイート一覧</a></li>
         <li><a href="/diaries/new">新規ツイート</a></li>
        </ul>
      </nav>
    </header>
    <img src="<%= asset_path "slilanka.png"%>" class="image_area">
    <div class="wrapper clearfix">
      <div class="about">
        <h1>Twitter Clone</h1>
      </div>    
    </div>
    <footer class="footer">
        <p>DIVE INTO CODE test application</p>
    </footer>
    </div>
  </body>
</html>
